<h1>Subscribe to a monthly subscription</h1>
<% if current_user.premium_until %>
<p>Currently, your premium account is available until <%= current_user.premium_until.strftime('%d/%m/%Y')%></p>
  <% else %>
  <p>You do not have a plan... Subscribe here</p>
  <% end %>
<%= form_tag charges_path do %>
  <% if current_user.stripe_token %>
    <%= submit_tag 'You are already subscribed' %>
  <% else %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          Stripe.setPublishableKey[:publishable_key]
          data-key="<%= Rails.application.secrets.stripe[:publishable_key] %>"
          data-description="One month subscription"
          data-amount="500"
          data-locale="auto"> </script>
  <% end %>
<% end %>
